{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<h3 style="text-align: center;">Contact List </h3>

<div>
    <form action="" style="width: 50%; margin: 0 auto;">
        <input type="text" id="search" name="search" placeholder="Search any contact...">
        <button type="submit">Search</button>
    </form>

    <br>
    <br>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>View</th>
        </tr>
        {% for contact in contact_list %}
        <tr>
            <td>{{ contact.first_name }} {{contact.last_name}}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone_number }}</td>
            <td><a href="{% url 'contact_detail' contact.id %}">Details</a></td>
        </tr>
        {% endfor %}
    
    </table>
</div>



{% endblock %}